*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 30rem;
    width: 20rem;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.container div{display: flex;gap: .5rem;}

.container div span{
    border: 1px solid;
    height: 5rem;
    width: 5rem;
    border-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    cursor: pointer;
    border-width: .1rem;
}

.container div span:hover{
    background-color: white;
    color: black;
    border-color:rgb(106, 102, 102);
    border-width: .15rem;
}


.Win{
    height: 30rem;
    width: 20rem;
    background-color: black;
    position: absolute;
    opacity: 85%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.Lose{
    height: 30rem;
    width: 20rem;
    background-color: black;
    position: absolute;
    opacity: 75%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


.Tie{
    height: 30rem;
    width: 20rem;
    background-color: black;
    position: absolute;
    opacity: 75%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#lose{
    font-size: 4rem;
    position: absolute;
    color: rgb(255, 0, 0);
}

#win{
    font-size: 2.85rem;
    position: absolute;
    color:lightgreen;
    text-align: center;
}

#tie{
    font-size: 4rem;
    position: absolute;
    color:yellow;
}

.btn{
    background-color: black;
    border: 2px solid white;
    width: 30%;
    height: 7%;
    border-radius: 10px;
}

.btn:hover{
    background-color: white;
}

.btn:hover a{
    text-decoration: none;
    color: black;
}

.btn a{
    text-decoration: none;
    color: white;
}